.about-us {
    background-color: #0b0c2a;
    color: #fff;
    min-height: 100vh;
    padding: 60px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.child-aboutus {
    color: #eae0e6;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-right: 800px;
}

.child-aboutus .active {
    color: #aeabb943;
    font-weight: bold;
    text-shadow: 2px 1px 4px rgba(89, 82, 88, 0.5);
}
.child-aboutus .active-1 {
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
   
}
.child-aboutus .active-1:hover {
    color: orangered;
    transform: scale(1.1);

  
}
.about-title {
    font-size: 35px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 800px;
}

.content {
    font-size: 16px;
    line-height: 1.7;
    color: #ccc;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    margin-right: 550px;

}

.content p {
    margin-bottom: 20px;
}