.six-game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.styles-six-game-item {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
    right: 530px;
}

.six-game-item {
    width: 150px;
    height: 170px;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    transition: 0.3s ease-in-out;


}

.six-game-item:hover {
    cursor: pointer;
    transform: scale(1.005);
    background-color: orangered;
}

.six-game-image {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;

}