.pagination-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.page-button {
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.page-button:hover {
    background-color: orange;
    transition: 0.3s ease-in-out;
}

.page-button.active {
    background-color: orange;
    font-weight: bold;
}

.arrow-button,
.double-arrow-button {
    padding: 8px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.arrow-button:hover,
.double-arrow-button:hover {
    background-color: #958e8e;
}

@media screen and (max-width: 430px) {
    .pagination-container {
        gap: 4px;

    }

    .page-button,
    .arrow-button,
    .double-arrow-button {
        padding: 6px 10px;
        font-size: 14px;
    }
}