.button-container-display {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-left: 700px;
    margin-bottom: 20px;
}

.custombt {
    background-color: #b81608;
    color: white;
    padding: 10px 20px;
    border: 3px solid orange;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease-in-out;
}

.custombt:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 400px) {
    .button-container {
        justify-content: center;
        margin: 20px auto 10px auto;
    }

    .custombt {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media screen and (min-width: 1380px) and (max-width: 1930px) {

    .button-container-display {
        display: flex;
        position: relative;
        right: 100px;

    }

    .custombt {
        padding: 8px 16px;
        font-size: 17px;
    }
}

@media screen and (min-width: 410px)and (max-width: 1370px) {
    .button-container-display {
        display: flex;
        position: relative;
        right: 180px;

    }

    .custombt {
        padding: 8px 16px;
        font-size: 12px;
    }

}