.game-detail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    transform: none;
    margin-top: -30px;

}

.game-container {
    text-align: center;
    margin-top: 20px;
}

.game-image-detail {
    width: 950px;
    height: 700px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #ddd;
    transition: 0.3s ease-in-out;
    margin-right: 200px;
}

.game-title-detail {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;

}

.not-found-text {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

@media screen and (max-width: 930px) {
    .game-detail-page {
        padding: 20px 10px;
        margin-top: 0;
    }

    .game-container {
        justify-content: center;

    }

    .game-image-detail {
        max-width: 100%;
        height: auto;
        margin-right: 0;
    }
}