.game-list-n {
    position: fixed;
    top: 305px;
    right: -300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 12px;
    z-index: 1000;
    width: 300px;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}
.game-card {
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 30px;
}
.game-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}
.game-title {
    margin: 5px 0;
    font-weight: bold;
    font-size: 15px;
}
.play-button {
    color: #00f;
    text-decoration: none;
    font-weight: bold;
}