.comment-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-end;
    
}
.comment {
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 8px;
    width: 48%;
}
.comment-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.time {
    color: gray;
}
.comment-text {
    margin: 10px 0;
}
.comment-actions {
    display: flex;
    gap: 10px;
}

.action-btn {
    background-color: #444;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.action-btn:hover {
    background-color: #666;
}