body {
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New', monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

Link .App-link {
  color: #61dafb;
}

body.light-theme {
  background: url('background/bg12.avif') no-repeat center center;
  color: #514f4f;
  background-size: cover;
}

body.dark-theme {
  background: url('background/bg9.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
}